[Unit]
Description=Set default boot to challenges

[Service]
Type=onshot
ExecStart=cp /boot/syslinux/challenges.cfg /boot/syslinux/syslinux.cfg

[Install]
WantedBy=challenge.target
